<section class="about">
    <h2>Quem Somos</h2>
    <p> Somos uma equipe de drones autônomos da Universidade Tecnológica Federal do Paraná (UTFPR)
        dedicada ao desenvolvimento e à participação em competições de Veículos Aéreos Não Tripulados (VANTs).
        Nosso principal objetivo é inovar na criação de drones autônomos capazes de realizar tarefas complexas
        com alto nível de eficiência. Sediada no Laboratório de Engenharia de Sistemas Computacionais (LESC),
        a equipe participa da Competição Brasileira de Robótica desde 2019.</p>
</section>

